<%- include('layout_top'); -%>
<h1>Delete Book Instance: <%= bookInstance._id %></h1>
<hr>
<div style="margin-left:20px;margin-top:20px">
<h4><%= book.title %></h4>
<h4><%= author.name %></h4>
<h4><a href="<%= bookInstance.url %>"><%= bookInstance._id %></a></h4>
<div>
<form method="POST">
  <div class=form-group>
    <input id="bookInstanceId" class="form-control" type="hidden" name="bookInstanceId" value="<%= %>" />
  </div>
  <hr>
  <p>Click delete to delete this book instance.</p>
<button class="btn btn-primary" type="submit">Delete</button>
</form>
<%- include('layout_bottom'); -%>
